@page
@model ReastEstateWebApp.Pages.Properties.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<p>
    <a asp-page="Create" style="color: black; text-decoration: none">
        <button type="button" class="btn btn-light">Create new property ad</button>
    </a>
</p>
<div class="card-container">
    @foreach (var item in Model.Property)
    {
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.Name)

                        </h5>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Price)
                        </p>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.PropertyStatus)
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                    <a asp-page="./Edit" asp-route-id="@item.Id" style="color: black; text-decoration: none">
                        <button type="button" class="btn btn-light">Edit</button>
                    </a>
                    <a asp-page="./Details" asp-route-id="@item.Id" style="color: black; text-decoration: none">
                        <button type="button" class="btn btn-light">Details</button>
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" style="color: black; text-decoration: none">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </a>
                </div>
            </div>
        </div>
    }
</div>