@page "/user"

@model ReastEstateWebApp.Pages.Properties.IndexModel
@{
    ViewData["Title"] = "UserIndex";
    Layout = "~/Pages/Shared/_UserLayout.cshtml";
}

<div class="card-container">
    @foreach (var item in Model.Property)
    {
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="..." class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.Name)
                        </h5>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Price)
                        </p>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.PropertyStatus.PropertyType)
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                    <a asp-page="./Details" asp-route-id="@item.Id" style="color: black; text-decoration: none">
                        <button type="button" class="btn btn-light">Details</button>
                    </a>
                </div>
            </div>
        </div>
    }
</div>